<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Green Space</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/css/maincart.css">
        
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>

<!--==================== HEADER ====================-->
<header class="header" id="header">
            <nav class="nav container">
                <a href="#" class="nav__logo">
                    <i class="ri-leaf-line nav__logo-icon"></i>Greenspace
                </a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="/" class="nav__link">Home</a>
                        </li>
                        <li class="nav__item">
                            <a href="/about" class="nav__link">AboutUs</a>
                        </li>
                        <li class="nav__item">
                            <a href="/ecoguide" class="nav__link">EcoGuide</a>
                        </li>
                        <li class="nav__item">
                            <a href="/gallery" class="nav__link">Gallery</a>
                        </li>
                        <li class="nav__item">
                            <a href="/contact" class="nav__link">Contact Us</a>
                        </li>
                        <div class="nav-item" >
                            <a href="/maincart" class="nav__link">
                                <i class="ri-shopping-cart-2-line"></i>
                            </a>
                            
                        </div>
                        <div class="nav-item" >
                            <a href="/signin" class="nav__link">
                                <i class="ri-account-circle-line"></i> 
                            </a>
                            
                        </div>
                    </ul>
                    
    
                    <div class="nav__close" id="nav-close">
                        <i class="ri-close-line"></i>
                    </div>
                </div>
              
                

                <div class="nav__btns">
                  
                    <!-- Theme change button -->
                    <i class="ri-moon-line change-theme" id="theme-button"></i>
                    <div class="nav__toggle" id="nav-toggle">
                        <i class="ri-menu-line"></i>
                    </div>
                </div>
            </nav>
        </header>

    <div class="bigContainer">
        <h2 class="headingText">Our Organic Products</h2>

        <div class="optionsContainer">
            <p class="text-blk list" data-filter="three">Flower</p>
            <p class="text-blk list" data-filter="one">Seeds</p>
            <p class="text-blk list" data-filter="three">Tools</p>
            <p class="text-blk list" data-filter="two">Vegetables</p>
            </div>

             <!-- Product 4 -->
            <div class="project">     
            <!-- Add more products similarly -->
        </div>
    </div>

    <!-------========Flower=======-->


    <div class="imageContainer">
        <!-- Product 1 -->
        <div class="project">
            <img class="squareImg"
                src="https://cdn.shopify.com/s/files/1/0823/8871/3752/files/2_0f352087-eb66-47ae-91c0-548a79305891.png?v=1703144806&width=360">
            <div class="content">
                <h3>Rose (Pink) - Plant</h3>
                <p>Rs. 299.00</p>
            </div>
            <div class="btn-box">
                <button class="btn" onclick="addToCart('Pink Petticoat')">Add to Cart</button>
            </div>
        </div>

        <!-- Product 2 -->
        <div class="project">
            <img class="squareImg"
                src="https://cdn.shopify.com/s/files/1/0823/8871/3752/files/4_11a93273-7636-47c2-a283-8cb3491f8627.png?v=1703147696&width=360" alt="Organic Compost">
            <div class="content">
                <h3>Rose (Light Yellow) - Plant</h3>
                <p>Rs. 299.00</p>
            </div>
            <div class="btn-box">
                <button class="btn" onclick="addToCart('Organic Compost')">Add to Cart</button>
            </div>
        </div>

         <!-- Product 3 -->
         <div class="project">
            <img class="squareImg"
                src="https://vermiorganics.co/cdn/shop/files/4_e6181be6-70bb-41b7-beec-b80f2e6bae39.png?v=1703144524&width=600" alt="Organic Compost">
            <div class="content">
                <h3>Rose (White Pink) - Plant</h3>
                <p>Rs. 299.00</p>
            </div>
            <div class="btn-box">
                <button class="btn" onclick="addToCart('Organic Compost')">Add to Cart</button>
            </div>
        </div>
        <!-- Product 4 -->
        <div class="project">
            <img class="squareImg"
                src="https://vermiorganics.co/cdn/shop/files/1_503ab727-14a1-4022-8545-dc0d8b4c3a8a.png?v=1703144958&width=600" alt="Organic Compost">
            <div class="content">
                <h3>Rose (Pink Yellow) - Plant</h3>
                <p>Rs. 750.00 </p>
            </div>
            <div class="btn-box">
                <button class="btn" onclick="addToCart('Organic Compost')">Add to Cart</button>
            </div>
        </div>
        <!-- Add more products similarly -->
    </div>
</div>

<div class="optionsContainer">

</div>
    


   
        <!-------=======Seeds===========-->
    <div class="imageContainer">
        <!-- Product 1 -->
        <div class="project">
            <img class="squareImg"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzURctFMFTPoP-ONRRUV5YF-kVhtwjD8Nk2w&s">
            <div class="content">
                <h3>Seeds</h3>
                <p>Rs.500.00</p>
            </div>
            <div class="btn-box">
                <button class="btn" onclick="addToCart('Pink Petticoat')">Add to Cart</button>
            </div>
        </div>

        <!-- Product 2 -->
        <div class="project">
            <img class="squareImg"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkllzsk27u6MazhSQJED_AcewlLy5jLXxKpA&s" alt="Organic Compost">
            <div class="content">
                <h3>Seeds</h3>
                <p>Rs.300.00</p>
            </div>
            <div class="btn-box">
                <button class="btn" onclick="addToCart('Organic Compost')">Add to Cart</button>
            </div>
        </div>

         <!-- Product 3 -->
         <div class="project">
            <img class="squareImg"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwdbM0hA4IwzczVtBRhs9KVvBorhrQs7qQPw&s" alt="Organic Compost">
            <div class="content">
                <h3>Seeds</h3>
                <p>Rs.300.00</p>
            </div>
            <div class="btn-box">
                <button class="btn" onclick="addToCart('Organic Compost')">Add to Cart</button>
            </div>
        </div>
        <!-- Product 4 -->
        <div class="project">
            <img class="squareImg"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4A6AXzZ6xxlG_cFjH9JkRxZKb0nzntmu5Dg&s" alt="Organic Compost">
            <div class="content">
                <h3>Seeds</h3>
                <p>Rs.300.00</p>
            </div>
            <div class="btn-box">
                <button class="btn" onclick="addToCart('Organic Compost')">Add to Cart</button>
            </div>
        </div>
        <!-- Add more products similarly -->
    </div>
</div>

<div class="optionsContainer">
    
</div>


    <!----==========For Tools=========-->
    <div class="imageContainer">
        <!-- Product 1 -->
        <div class="project">
            <img class="squareImg"
                src="https://www.skorganicfarms.com/cdn/shop/products/SPSH-2000_20large_540x.jpg?v=1596342027">
            <div class="content">
                <h3>Khupra</h3>
                <p>Rs. 175.00 </p>
            </div>
            <div class="btn-box">
                <button class="btn" onclick="addToCart('Pink Petticoat')">Add to Cart</button>
            </div>
        </div>

        <!-- Product 2 -->
        <div class="project">
            <img class="squareImg"
                src="https://www.skorganicfarms.com/cdn/shop/products/FPHG-37_20large_540x.jpg?v=1596342021">
            <div class="content">
                <h3>Working hand gloves</h3>
                <p>Rs. 275.00</p>
            </div>
            <div class="btn-box">
                <button class="btn" onclick="addToCart('Organic Compost')">Add to Cart</button>
            </div>
        </div>

         <!-- Product 3 -->
         <div class="project">
            <img class="squareImg"
                src="https://www.skorganicfarms.com/cdn/shop/products/FWT-2002_20large_350x.jpg?v=1596342030" alt="Organic Compost">
            <div class="content">
                <h3>Hand Digging Trowel</h3>
                <p>Rs. 175.00</p>
            </div>
            <div class="btn-box">
                <button class="btn" onclick="addToCart('Organic Compost')">Add to Cart</button>
            </div>
        </div>
        <!-- Product 4 -->
        <div class="project">
            <img class="squareImg"
                src="https://www.skorganicfarms.com/cdn/shop/products/FWF-102_20large_540x.jpg?v=1596342032">
            <div class="content">
                <h3>Hand Weeding Fork</h3>
                <p>Rs. 150.00</p>
            </div>
            <div class="btn-box">
                <button class="btn" onclick="addToCart('Organic Compost')">Add to Cart</button>
            </div>
        </div>
        <!-- Add more products similarly -->
    </div>
</div>

<div class="optionsContainer">
    
</div>

<!-----========Vegetables==========-->
    
<div class="imageContainer">
    <!-- Product 1 -->
    <div class="project">
        <img class="squareImg"
            src="https://i0.wp.com/theaffordableorganicstore.com/wp-content/uploads/2021/06/1713201830-300x300_27_11zon.webp?w=300&ssl=1">
        <div class="content">
            <h3>Capsicum</h3>
            <p>Rs.300.00</p>
        </div>
        <div class="btn-box">
            <button class="btn" onclick="addToCart('Pink Petticoat')">Add to Cart</button>
        </div>
    </div>

    <!-- Product 2 -->
    <div class="project">
        <img class="squareImg"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRz4snEl0dpbU_8vIBD1kgVbTD-Ne22NI86uQ&s">
        <div class="content">
            <h3>Tomato</h3>
            <p>Rs.200.00</p>
        </div>
        <div class="btn-box">
            <button class="btn" onclick="addToCart('Organic Compost')">Add to Cart</button>
        </div>
    </div>

     <!-- Product 3 -->
     <div class="project">
        <img class="squareImg"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4DIi_sfdWnXbF7LMCvGCtuAFB_bajkMdmzA&s" alt="Organic Compost">
        <div class="content">
            <h3>Chili</h3>
            <p>Rs.300.00</p>
        </div>
        <div class="btn-box">
            <button class="btn" onclick="addToCart('Organic Compost')">Add to Cart</button>
        </div>
    </div>

    <!-- Product 4 -->
    <div class="project">
        <img class="squareImg"
            src="https://nurserylive.com/cdn/shop/products/nurserylive-seeds-brinjal-f1-sona-babu-vegetable-seeds-16969058910348_600x600.jpg?v=1634203132">
        <div class="content">
            <h3>Brinjal</h3>
            <p>Rs.200.00</p>
        </div>
        <div class="btn-box">
            <button class="btn" onclick="addToCart('Indoor plant', 300)">Add to Cart</button>
            
        </div>
    </div>
    


    <footer>
        <!-- Footer Start -->
<div class="container-fluid bg-dark text-white mt-5 py-5 px-sm-3 px-md-5">
    <div class="row pt-5">
        <div class="col-lg-4 col-md-12 mb-5">
            <h1 class="mb-3 display-5 text-capitalize text-white"><span class="text-primary">Green</span>Space</h1>
            <p class="m-0">We believe in the power of gardening to make a positive impact on our world. By adopting sustainable practices and fostering green spaces, we contribute to a healthier planet. Our mission is to inspire and lead efforts to make every garden a part of a global movement towards a greener, more eco-conscious future. </p>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="row">
                <div class="col-md-4 mb-5">
                    <h5 class="text-primary mb-4">Get In Touch</h5>
                    <p><i class="fa fa-map-marker-alt mr-2"></i>NSTI(W) Kolkata<br><br>Salt Lake sector v,West Bengal</p>
                    <p><i class="fa fa-phone-alt mr-2"></i>912356421536</p>
                    <p><i class="fa fa-envelope mr-2"></i>greenspace24@gmail.com</p>
                    <div class="d-flex justify-content-start mt-4">
                        <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h5 class="text-primary mb-4">Popular Links</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Home</a>
                        <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>About Us</a>
                        <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Gallery</a>
                        <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Eco Guide</a>
                        <a class="text-white" href="#"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h5 class="text-primary mb-4">Newsletter</h5>
                    <form action="">
                        <div class="form-group">
                            <input type="text" class="form-control border-0" placeholder="Your Name" required="required" />
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control border-0" placeholder="Your Email" required="required" />
                        </div>
                        <div>
                            <button class="btn btn-lg btn-primary btn-block border-0" type="submit">Submit Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid text-white py-4 px-sm-3 px-md-5" style="background: #111111;">
    <div class="row">
        <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
            <p class="m-0 text-white">
                &copy; <a class="text-white font-weight-bold" href="#">GreenSpace</a>. All Rights Reserved. Designed by
                <a class="text-white font-weight-bold" href="https://htmlcodex.com">Byte Builders</a>
            </p>
        </div>
        <div class="col-md-6 text-center text-md-right">
            <ul class="nav d-inline-flex">
                <li class="nav-item">
                    <a class="nav-link text-white py-0" href="#">Privacy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white py-0" href="#">Terms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white py-0" href="#">FAQs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white py-0" href="#">Help</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- Footer End -->
    </footer>

    <script src="/js/maincart.js"></script>
    <!-- Theme Toggle Button -->
<button class="change-theme">
    <i class="theme-icon"></i>
  </button>
  
</body>

</html>
